@{
    ViewData["Title"] = "Contact Manager";
}

<div id="myJumbotron" class="jumbotron">
    <h1 class="">Contact Manager</h1>
    <p>This is a simple project for managing contacts</p>
    <hr />
    <p><a asp-area="" asp-controller="Home" asp-action="Contacts" class="btn btn-primary btn-lg" role="button">Try it!</a></p>
</div>